@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
 }


 @plugin "daisyui/theme" {
  name: "light";
  default: true; 

  --color-primary: #509E2F;
  --color-secondary: #84BD00;
  --color-neutral: #C4D600;
  --color-base-100: #F0EBE1;
  --color-base-50: #262522;
  
 }
